trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    python manage.py collectstatic --noinput
  displayName: 'Collect static files'

- script: |
    python manage.py migrate
  displayName: 'Run migrations'

- script: |
    echo "Build successful!"
  displayName: 'Build Success'
